*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body{
    height: 100%;
    margin: 0;
}

body{
    align-items: center;
    background-color: #9d6cbc;
    display: flex;

}
.container{
    color: #290b3b;
    margin: 0 auto;
    text-align: center;
}
#hero{
    font-size: 5rem;
    font-family: "highest-praise", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#subtext{
    font-size: 4rem;
    font-family: "highest-praise", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li{
    display: inline-block;
    font-size: 2.5rem;
    list-style-type:none ;
    padding: 1em;
    font-family: "highest-praise", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li span{
    display: block;
    font-size: 4.5rem;
}

.emoji{
    display: none;
    padding: 1rem;
}

.emoji span{
    font-size: 4rem;
    padding: 0 .5rem;
    font-family: "highest-praise", sans-serif;
    font-weight: 400;
}

#flowers {
    height: 25rem;
    width: auto;
}